.signup{
    width: 100vw;
    margin:auto;
    
    margin-top:20px;
    }
    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(134, 100, 100, 0.15);
      
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);
      border: 1px solid rgba(255, 255, 255, 0.2);
        height:33rem;
       width:70rem;
      gap:-1rem;
        /* padding:7px; */
        margin:auto;
        
      }
      input[type="file"] {
        width: 12rem;
      }
      
      input:last-of-type::file-selector-button {
        width: 40%;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .signup-content{
        display: flex;
        flex-direction: column;
        align-items: center;
      
      
        }
        .form-group{
            margin:0.1rem;
            
              }
              #register-form input{
               margin:0.1rem;
               background: transparent;
               /* border: none; */
               border-bottom: 1px solid #000000;
               
              }
              #signup{
                background-color: blue;
                margin-left:0.2rem !important;
                margin-right:0.2px !important;
                border-radius: 10px;
                padding:4px;
              }
              input[type="submit"] 
              {
                 border:2px solid black !important; 
                 background-color: blue !important;
                 margin-top:0.3rem !important;
                 cursor:pointer;
                 
              }

              .ftitle{
                text-align: center;
                /* margin-top:-30px;  */
                 margin-bottom:0.4rem;
              }
              .signup-image{
                display:flex;
                flex-direction: column;
                align-items: center;
                width:50rem;
                height:33rem;
                padding:0;
                margin-left:-1rem;
              }
              .im{
                width:47rem;
                height:70rem !important;
                margin-left:-2rem;
              }
              #register-form{
                display: flex;
                flex-direction: column;
              }
              .form-group{
                margin-left:-0.8rem;
                display: grid;
                grid-template-columns: 2fr 3fr;
              }
              .form-groupy{
                display:flex;
                column-gap: 40px;
              }
              .form-groupe{
                display: grid;
                grid-template-columns: 2fr 2fr;
                margin:0.7rem;
            
              }
              .signup-link{
                margin-top: 10px;
              }
              #lab2{
                display: flex;
              }
              #lab2l{
                display: flex;
              }
              .form-submit:hover{
                background-color: white !important;
                color:blue !important;
                border-color:blue !important;
              }
              